*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 20px auto;
    font-family: 'Readex Pro', sans-serif;
    
}

.background {
    background-color:#FFC107 ;
    padding: 10px;
    margin: 5px;
}

.background:hover {
    background-color: #CFD8DC;
    padding: 15px;
    margin: 5px;
    transition: 0.7s;
}

.imagen{
    width: 80px;
    float: inline-end;
}

.cajas{
    background-color:#FFC107 ;
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    border: solid;
    border-color:#455A64 ;
}

.footer{
    margin-top: 5px;
    background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.adidas{
    
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }
  
  /* Disable grayscale on hover */
 .adidas:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    transition: 1s;
  }

  input{
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    border-radius: 3px;
    padding: 2px;
  }
  input:hover{
      background-color:#fff;
        padding: 4px;
        transition: 0.5s;
        border-color: #fec84e;
  }
  
  select{
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    padding: 2px;
}

select:hover{
    background-color:#fff;
        padding: 4px;
        transition: 0.5s;
        border-color: #fec84e;
}
textarea{
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
}

textarea:hover{
    background-color:#fff;
        padding: 4px;
        transition: 0.5s;
        border-color: #fec84e;
}